/ {
    chosen {
        zephyr,console = &usb_cdc;
        zephyr,shell-uart = &usb_cdc;
        zephyr,canbus = &can1;
    };
    leds {
        rgb_red: rgb_red {
            gpios = <&gpioa 8 GPIO_ACTIVE_LOW>;
            label = "LED Red";
        };
        rgb_blue: rgb_blue {
            gpios = <&gpioa 10 GPIO_ACTIVE_LOW>;
            label = "LED Blue";
        };
        rgb_green: rgb_green {
            gpios = <&gpioa 9 GPIO_ACTIVE_LOW>;
            label = "LED Green";
        };
    };
};

&usart3 {
    pinctrl-0 = <&usart3_rx_pc11 &usart3_tx_pc10>;
    pinctrl-names = "default";
    current-speed = <115200>;
    status = "okay";
};

&clk_hse {
    status = "disabled";
};

&usbotg_hs {
    pinctrl-0 = <&usb_otg_hs_dp_pb15 &usb_otg_hs_dm_pb14>;
    pinctrl-names = "default";
    status = "okay";
    usb_cdc: cdc-acm-uart {
        compatible = "zephyr,cdc-acm-uart";
        status = "okay";
        label = "CDC_ACM_0";
    };
};

&clk_hsi {
    status = "okay";
    clock-frequency = <DT_FREQ_M(16)>;
};

&pll {
    clocks = <&clk_hsi>;
    div-m = <16>;
};

&green_led_2 {
    gpios = <&gpioc 13 GPIO_ACTIVE_HIGH>;
};

&can1 {
    pinctrl-0 = <&can1_tx_pa12 &can1_rx_pa11>;
    status = "okay";
};

&can2 {
    pinctrl-0 = <&can2_tx_pb13 &can2_rx_pb12>;
    status = "okay";
};